@use '../../scss/placeholders';
@use '../../scss/variables' as v;
@use '../../scss/include-media' as *;

.row {
  @extend %row;
}

.footer {
  background-color: v.$accent-2;

  .row {
    justify-content: center;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    @include media('>=xs') {
      justify-content: space-between;
    }
  }
}
