.inner {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  padding: 3rem 2rem;
  background: #ffffff;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.icon {
  width: 100%;
  max-width: 6.4rem;
  height: auto;
}
