@use './variables' as v;
@use './include-media' as *;

%input-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

%label {
  padding-bottom: 1.5rem;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #949494;

  @include media('>=#{v.$mobile-menu-breakpoint}') {
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
}

%text-input {
  padding: 1.2rem 1.9rem;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: v.$black;
  background-color: v.$white;
  border: 0.1rem solid #c7c7c7;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.05);
  border-radius: v.$bd-radius;
}

%error {
  color: v.$danger;

  %text-input {
    color: v.$danger;
    border-color: v.$danger;
  }

  &-message {
    position: absolute;
    top: calc(100% + 0.3rem);
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;

    @include media('>=#{v.$mobile-menu-breakpoint}') {
      font-size: 1.4rem;
      line-height: 1.7rem;
    }
  }
}
