@use '../../scss/placeholders';

.row,
.column {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;

  @extend %container;
}

.column {
  flex-direction: column;
}
